h1,h2,h3,h4,h5,h6{
    margin: 0;
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./images/bg.jpg); creative common licenced image */
    background-color: rgba(238, 231, 231, 0.753) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
input{
    border: none;
    padding: 1rem;
    border-radius: 7px;
    background-color: rgb(168, 228, 208);
    color: rgb(75, 10, 10);
}
.weather{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(224, 217, 115);

    border-radius: 15px;
    margin-top: 1rem;
    min-width: 10%;
    color: rgb(49, 14, 206);
}
.left{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: flex-start;
}
.left h3,h4{
    margin: 1rem 0;
}
.temperature{
    display: flex;
    flex-direction: column;
    color: rgb(9, 7, 77);
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right img{
    width: 90px;
}

.minmax{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(59, 5, 52);
}
.forecast{
    display: flex;
    width: 50%;
    overflow-x: auto;
    font-size: medium;

}.forecast::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .forecast::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb */
    border-radius: 4px; /* Set the border radius of the thumb */
  }
  



.card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: rgba(185, 196, 185, 0.5);
    margin: 1px;
    padding: 5px;
}
.card.dark{
   background-color: rgb(32, 29, 29);
   color: beige;
}

/* 
{location: {…}, current: {…}, forecast: {…}}
*/

