html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg.jpg); /*creative common licenced image*/
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.App{
    display: flex;
    flex-direction: column;
}